{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>

    <!-- styles -->
    <!-- Bootstrap -->

<!--         <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> -->

        <!-- Reset -->
<!--     <link type="text/css" rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css">  -->

    <!-- Project -->
    <link type="text/css" rel="stylesheet" href="">

    <!-- PageSpec -->
    <link type="text/css" rel="stylesheet" href="">



    <!-- jQuery -->
    <script type="text/javascript" rel="javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>


    <!-- Metas -->
    <meta charSet="UTF-8">

</head>
<body>
    <header>

    </header>
    {% block content %}

    {% endblock content %}

    <footer>

    </footer>
    <!-- scripts -->
    <!-- Bootstrap -->
    <script type="text/javascript" rel="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Framework -->
    <script type="text/javascript" rel="javascript" src=""></script>
    <!-- Project -->
    <script type="text/javascript" rel="javascript" src=""></script>
    <!-- Page -->
    <script type="text/javascript" rel="javascript" src=""></script>
</body>
</html>



