{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>

    <!-- styles -->
    <!-- jQ Mobile -->
<link rel="stylesheet" href="{% static 'jsframework/css/jquery.mobile-1.4.5.min.css' %}" />




    <!-- Metas -->
    <meta charSet="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

{% include "page1.html" %}
{% include "page2.html" %}
{% include "page3.html" %}
{% include "page4.html" %}
{% include "page5.html" %}
{% include "page6.html" %}
{% include "page7.html" %}

<script src="{% static 'jsframework/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'jsframework/js/jquery.mobile-1.4.5.min.js' %}"></script>
</body>
</html>



