<div data-role="page" id="{% block pageNumber %}{% endblock pageNumber %}">
    <div data-role="header">
        {% block header %}
        {% endblock header %}
    </div>
    <div data-role="content">
        {% block content %}
        {% endblock content %}
    </div>
    <div data-role="footer">
        {% block footer %}
        {% endblock footer %}<br>
        <a href="#one">1
        </a>
        <a href="#two">2
        </a>
        <a href="#three">3
        </a>
        <a href="#four">4
        </a>
        <a href="#five">5
        </a>
        <a href="#six">6
        </a>
        <a href="#seven">7
        </a>
    </div>
</div>